bb.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.codelean.vn"
            xmlns="http://www.codelean.vn"
           elementFormDefault="qualified">
    <xs:element name="codelean">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="to" type="xs:string"></xs:element>
                <xs:element name="from" type="xs:string"></xs:element>
                <xs:element name="subject" type="xs:string"></xs:element>
                <xs:element name="massage" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>